<h3>Confere CEP</h3>

<form #cepForm='ngForm' (submit)="pesquisarCep()">

  <div>
  <label for="cep">Informe seu cep:</label>
  <input type="text" id="cep" name="cep" [(ngModel)]="cep" required>
  </div>
  <div class="btn btn-primary btn-sm btn-icon-split">

    <span class="icon text-white-80">
      <i class="fas fa-home"></i>
    </span>

    <button class="btn btn-primary btn-sm" type="submit">Pesquisar</button>
  </div>
</form>
<br>
<div class="ml-2 spinner-border spinner-border-sm" [hidden]="!espera"></div>
    <div class="shadow-lg mx-4" [hidden]="!pesquisado">
<div  >
  <p>CEP Pesquisado: {{ endereco.cep }}</p>
  <p>Rua: {{ endereco.logradouro }}</p>
  <p>Cidade: {{endereco.localidade}}
  <p>Estado: {{ endereco.uf }}</p>
  <br><br>
  <button (click)="limpa()">Reinicia</button>
</div></div>
